body{
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/*header*/
.logo{
font-weight: 700;
font-size: 18px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.logo-part{
color: 	#2e2f42;;
}